.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/nosql2h22-monitoring.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
venv
frontend/.idea/
frontend/.idea/frontend.iml
frontend/.idea/modules.xml
frontend/.idea/prettier.xml
frontend/.idea/vcs.xml
frontend/.idea/inspectionProfiles/Project_Default.xml
frontend/package-lock.json
